//color
$brand-primary: #25c6db;
$brand-light: #8cf2ff;
$brand-dark: #1891a1;
//btn
$brand-btn-radius-small: .5rem;
$brand-btn-radius-medium: 1rem;

//space
$space-small: .5rem;

//shadow
$brand-shadow: 1px 1px 10px 0px rgba(117,117,117,1);
$brand-shadow-short: 1px 0px 4px 0px rgba(69,69,69,1);
$brand-shadow-wide: 2px 2px 10px 0px rgba(117,117,117,1);

// Font sizes
$base-font-size: 1.4rem;
$medium-font-size: 1.8rem;
$large-font-size: 2.2rem;