@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <MenuBar />
    </Authorized>
    <NotAuthorized>
        <p></p>
    </NotAuthorized>
</AuthorizeView>

<div>
    @Body
</div>
